:root {
    --dark: #0a0a0a;
    --light: #fff;
    --faded: #f8f9fa;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Spartan', sans-serif;
}

/* Global Styles */

.btn {
    border-radius: 0;
    padding: 10px 12px;
}

.btn-dark {
    background-color: var(--dark);
    border: 1px solid var(--dark);
}

.btn-dark:hover {
    background-color: var(--dark);
}

.btn-light {
    background-color: var(--light);
    border: 1px solid var(--dark);
}

.btn-light:hover {
    background-color: var(--light);
    border: 1px solid var(--dark);
}

.navbar-toggler {
    border: 0;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.lead {
    font-size: 18px;
}

img {
    max-width: 100%;
}

.w-35 {
    width: 35%;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
}

/* Hero */

#hero {
    padding: 185px 0 125px 0;
    background-color: var(--faded);
}

.hero {
    text-align: center;
}

.hero h1 {
    font-weight: 300;
    font-size: 50px;
}

.hero h1 span {
    font-weight: 700;
}

.hero ul li {
    font-size: 12px;
}

/* Section */

section {
    padding: 20px;
}

section .container h2 {
    font-weight: 700;
}

/* Team */

#team {
    padding: 60px 0;
    background-color: var(--light);
}

.member-info {
    bottom: 30px;
    left: 45px;
}

/* Plans */

#plans {
    padding: 60px 0;
    background-color: var(--faded);
}

.plan-info h5 {
    font-weight: 700;
    font-size: 20px;
}

.plan-info h2 {
    font-size: 60px;
}

.plan-info p {
    font-weight: 800;
}

.plan-info ul li {
    font-size: 13px;
}

.plan-info small {
    text-align: center;
    margin-top: 20px;
}

/* News */

#news {
    padding: 60px 0;
    background-color: var(--light);
}

.user-info {
    margin-bottom: 10px;
}

.user-info p {
    font-size: 14px;
}

.user-info p span {
    font-weight: bold;
}

.user-info small {
    font-size: 12px;
}

.new-info p {
    font-size: 13px;
}

.new-info h2 {
    font-size: 22px;
    margin-bottom: 50px;
}

.new-info a {
    color: var(--dark);
    text-decoration: none;
    font-size: 13px;
}

/* Demo */

#demo {
    padding: 120px 0;
    background-color: var(--faded);
}

/* Footer */

footer {
    padding: 60px 0 20px 0;
}

.contact-info {
    margin-top: 40px;
}

.contact-info h5 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 1px;
}

.copyright {
    margin-top: 40px;
}

.copyright ul li a {
    color: var(--dark);
}